### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [1]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT  MID(f_name,1,3)  FROM worker") 
res = cur.fetchall()
for i in res:
    print(i)

('Ved',)
('Ava',)
('Ami',)
('Vip',)
('Sat',)
('Rah',)
('Anv',)
('Sav',)
('Aka',)
('Alv',)

### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [3]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("Select INSTR(f_name, BINARY'a') from Worker where f_name = 'Amitabh'") 
res = cur.fetchone()
print(res)

(5,)

### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [2]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT  MAX(salary)  FROM worker") 
res = cur.fetchone()
print(res)

(Decimal('160000.0'),)