### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [1]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT RTRIM(f_name) FROM worker")
res = cur.fetchall()
for i in res:
    print(i)

('Vedanti',)
('Avanti',)
('Amitabh',)
('Vipul',)
('Satish',)
('Rahul',)
('Anvi',)
('Savi',)
('Akansha',)
('Alvin',)

### Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [3]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT DISTINCT LENGTH(dept) FROM worker")
res = cur.fetchall()
for i in res:
    print(i)

(2,)
(7,)
(5,)

### Q-3. Write an SQL query to fetch nth max salaries from a table.

In [2]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT distinct Salary from worker a WHERE id >= (SELECT count(distinct Salary) from worker b WHERE a.Salary <= b.Salary) order by a.Salary desc")
res = cur.fetchall()
for i in res:
    print(i)

(Decimal('160000.0'),)
(Decimal('155000.0'),)
(Decimal('150000.0'),)
(Decimal('145000.0'),)
(Decimal('140000.0'),)
(Decimal('123000.0'),)