### Q-13. Write an SQL query to show only odd rows from a table.

In [1]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT * FROM worker  WHERE MOD (id, 2) <> 0; ")
res = cur.fetchall()
for i in res:
    print(i)

(1, 'Vedanti', 'HR', Decimal('100000.0'), 'veda@mail.com', datetime.date(2018, 6, 7))
(3, 'Amitabh', 'Admin', Decimal('150000.0'), 'amitabh@mail.com', datetime.date(2019, 6, 16))
(5, 'Satish', 'HR', Decimal('140000.0'), 'satish5@mail.com', datetime.date(2018, 6, 7))
(7, 'Anvi', 'HR', Decimal('145000.0'), 'anu@mail.com', datetime.date(2016, 3, 7))
(9, 'Akansha', 'Admin', Decimal('160000.0'), 'akansha@mail.com', datetime.date(2014, 8, 1))
(13, 'sachi', 'Admin', Decimal('130000.0'), 'sachi121@mail.com', datetime.date(2014, 2, 7))

### Q-14. Write an SQL query to clone a new table from another table.

In [2]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("CREATE TABLE new_worker LIKE worker  ")
print("clone table created")

clone table created

In [5]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("INSERT INTO new_worker SELECT * FROM worker")
mydb.commit()