In [3]:
import mysql.connector as connection
try:
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
    cur = mydb.cursor()
    cur.execute("INSERT INTO  worker VALUES (NULL,'Vedanti','admin',105000,'veda2@mail.com','2014-02-01'),(NULL,'Avanti','HR',120000,'avanti1@mail.com','2014-02-08'),(NULL,'sachi','Admin',130000,'sachi121@mail.com','2014-02-07')")
    mydb.commit()
    print("data inserted!!")
    mydb.close()    

except Exception as e:
    mydb.close()
    print(str(e))

data inserted!!

### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [4]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT * FROM worker WHERE year(join_dt) = 2014 and month(join_dt) = 2 ")
res = cur.fetchall()
for i in res:
    print(i)

(11, 'Vedanti', 'admin', Decimal('105000.0'), 'veda2@mail.com', datetime.date(2014, 2, 1))
(12, 'Avanti', 'HR', Decimal('120000.0'), 'avanti1@mail.com', datetime.date(2014, 2, 8))
(13, 'sachi', 'Admin', Decimal('130000.0'), 'sachi121@mail.com', datetime.date(2014, 2, 7))

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [6]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT f_name, email, COUNT(*) FROM worker GROUP BY f_name, email HAVING COUNT(*) > 1")
res = cur.fetchall()
for i in res:
    print(i)

### Q-3. How to remove duplicate rows from Employees table.

In [7]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute(" DELETE FROM worker WHERE f_name='Vedanti' AND id =11")
mydb.commit()

In [9]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT * FROM worker ")
res = cur.fetchall()
for i in res:
    print(i)
print("f_name=vedanti and id=11 deleted ")

(1, 'Vedanti', 'HR', Decimal('100000.0'), 'veda@mail.com', datetime.date(2018, 6, 7))
(2, 'Avanti', 'Account', Decimal('120000.0'), 'avanti@mail.com', datetime.date(2017, 2, 8))
(3, 'Amitabh', 'Admin', Decimal('150000.0'), 'amitabh@mail.com', datetime.date(2019, 6, 16))
(4, 'Vipul', 'Admin', Decimal('130000.0'), 'vipul121@mail.com', datetime.date(2016, 6, 7))
(5, 'Satish', 'HR', Decimal('140000.0'), 'satish5@mail.com', datetime.date(2018, 6, 7))
(6, 'Rahul', 'Account', Decimal('110000.0'), 'rahul8@mail.com', datetime.date(2019, 6, 5))
(7, 'Anvi', 'HR', Decimal('145000.0'), 'anu@mail.com', datetime.date(2016, 3, 7))
(8, 'Savi', 'Account', Decimal('123000.0'), 'savi@mail.com', datetime.date(2019, 1, 10))
(9, 'Akansha', 'Admin', Decimal('160000.0'), 'akansha@mail.com', datetime.date(2014, 8, 1))
(10, 'Alvin', 'Admin', Decimal('155000.0'), 'alvin@mail.com', datetime.date(2019, 3, 2))
(12, 'Avanti', 'HR', Decimal('120000.0'), 'avanti1@mail.com', datetime.date(2014, 2, 8))
(13, 'sachi', 'Admin', Decimal('130000.0'), 'sachi121@mail.com', datetime.date(2014, 2, 7))
f_name=vedanti and id=11 deleted