### Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [1]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT * FROM worker WHERE f_name not in ('Vipul','Satish'); ")
res = cur.fetchall()
for i in res:
    print(i)

(1, 'Vedanti', 'HR', Decimal('100000.0'), 'veda@mail.com', datetime.date(2018, 6, 7))
(2, 'Avanti', 'Account', Decimal('120000.0'), 'avanti@mail.com', datetime.date(2017, 2, 8))
(3, 'Amitabh', 'Admin', Decimal('150000.0'), 'amitabh@mail.com', datetime.date(2019, 6, 16))
(6, 'Rahul', 'Account', Decimal('110000.0'), 'rahul8@mail.com', datetime.date(2019, 6, 5))
(7, 'Anvi', 'HR', Decimal('145000.0'), 'anu@mail.com', datetime.date(2016, 3, 7))
(8, 'Savi', 'Account', Decimal('123000.0'), 'savi@mail.com', datetime.date(2019, 1, 10))
(9, 'Akansha', 'Admin', Decimal('160000.0'), 'akansha@mail.com', datetime.date(2014, 8, 1))
(10, 'Alvin', 'Admin', Decimal('155000.0'), 'alvin@mail.com', datetime.date(2019, 3, 2))

### Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [4]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT * FROM worker WHERE f_name like '_____h' ")
res = cur.fetchone()
print(res)

(5, 'Satish', 'HR', Decimal('140000.0'), 'satish5@mail.com', datetime.date(2018, 6, 7))

### Q-3. Write a query to validate Email of Employee.

In [5]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT * FROM worker WHERE email regexp '^[a-zA-Z0-9][+a-zA-Z0-9._-]*@[a-zA-Z0-9][a-zA-Z0-9]*\\.[a-zA-Z0-9]{2,4}$' ")
res = cur.fetchall()
for i in res:
    print(i)

(1, 'Vedanti', 'HR', Decimal('100000.0'), 'veda@mail.com', datetime.date(2018, 6, 7))
(2, 'Avanti', 'Account', Decimal('120000.0'), 'avanti@mail.com', datetime.date(2017, 2, 8))
(3, 'Amitabh', 'Admin', Decimal('150000.0'), 'amitabh@mail.com', datetime.date(2019, 6, 16))
(4, 'Vipul', 'Admin', Decimal('130000.0'), 'vipul121@mail.com', datetime.date(2016, 6, 7))
(5, 'Satish', 'HR', Decimal('140000.0'), 'satish5@mail.com', datetime.date(2018, 6, 7))
(6, 'Rahul', 'Account', Decimal('110000.0'), 'rahul8@mail.com', datetime.date(2019, 6, 5))
(7, 'Anvi', 'HR', Decimal('145000.0'), 'anu@mail.com', datetime.date(2016, 3, 7))
(8, 'Savi', 'Account', Decimal('123000.0'), 'savi@mail.com', datetime.date(2019, 1, 10))
(9, 'Akansha', 'Admin', Decimal('160000.0'), 'akansha@mail.com', datetime.date(2014, 8, 1))
(10, 'Alvin', 'Admin', Decimal('155000.0'), 'alvin@mail.com', datetime.date(2019, 3, 2))