### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [1]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT REPLACE(f_name,'a','A') FROM worker")
res = cur.fetchall()
for i in res:
    print(i)

('VedAnti',)
('AvAnti',)
('AmitAbh',)
('Vipul',)
('SAtish',)
('RAhul',)
('Anvi',)
('SAvi',)
('AkAnshA',)
('Alvin',)

### Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [2]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT  * FROM Worker order by f_name ASC,dept DESC ")
res = cur.fetchall()
for i in res:
    print(i)

(9, 'Akansha', 'Admin', Decimal('160000.0'), 'akansha@mail.com', datetime.date(2014, 8, 1))
(10, 'Alvin', 'Admin', Decimal('155000.0'), 'alvin@mail.com', datetime.date(2019, 3, 2))
(3, 'Amitabh', 'Admin', Decimal('150000.0'), 'amitabh@mail.com', datetime.date(2019, 6, 16))
(7, 'Anvi', 'HR', Decimal('145000.0'), 'anu@mail.com', datetime.date(2016, 3, 7))
(2, 'Avanti', 'Account', Decimal('120000.0'), 'avanti@mail.com', datetime.date(2017, 2, 8))
(6, 'Rahul', 'Account', Decimal('110000.0'), 'rahul8@mail.com', datetime.date(2019, 6, 5))
(5, 'Satish', 'HR', Decimal('140000.0'), 'satish5@mail.com', datetime.date(2018, 6, 7))
(8, 'Savi', 'Account', Decimal('123000.0'), 'savi@mail.com', datetime.date(2019, 1, 10))
(1, 'Vedanti', 'HR', Decimal('100000.0'), 'veda@mail.com', datetime.date(2018, 6, 7))
(4, 'Vipul', 'Admin', Decimal('130000.0'), 'vipul121@mail.com', datetime.date(2016, 6, 7))

### Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [1]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="company_details")
cur = mydb.cursor()
cur.execute("SELECT f_name, salary from Worker WHERE salary>130000 ")
res = cur.fetchall()
for i in res:
    print(i)

('Amitabh', Decimal('150000.0'))
('Satish', Decimal('140000.0'))
('Anvi', Decimal('145000.0'))
('Akansha', Decimal('160000.0'))
('Alvin', Decimal('155000.0'))
('Satyam', Decimal('140000.0'))